
body {
	font-family: helvetica, sans-serif;
}

#wrapper {
	width: 100%;
	margin: auto;
}

div {
	margin-top: 10px;
	margin-bottom: 10px;
}

ul {
	list-style-type: none;
	padding: 1em;
	background-color: #FFB4B0;
	overflow: hidden;
	border: 2px solid black;
	/* width: 50%; */
	/* margin: auto; */
}

li {
	float: left;
	padding-left: 1%;
	padding-right: 1%;

}

#filter {
	clear: left;
	width: 25%;
	background-color: #4DD7FA;
	border: 2px solid black;
	padding: 1%;
	float: left;
	min-height: 400px;

}

select {
	width: 50%;
}

input.widthAdjust {
	width: 50%;
}

#addMusic {
	border-left: 2px solid black;
	border-right: 2px solid black;
}


/*#genreFilter input {
	float: left;
	width: 40%;
	overflow: hidden;
}*/

section {
	float: left;
	width: 50%;
	overflow: hidden;
}

h2 {
}

#filterSubmit {
	clear: left;
	margin: auto;
	/*padding-right: 25%;*/
	margin-top: 4em;
	text-align: center;
}

#submitButton {
	/*padding: %;*/
}

#songList {
	border: 2px solid black;
	background-color: #FEFAC0;
	width: 68%;
	/*margin-left: 10px;*/
	float: left;
	padding: 1%;
	min-height: 400px;
	margin-left: 1%;

}

#songList h2 {
	color: #785616;
	font-weight: 500;
}

#songList div {
	clear: left;
}

article {
}